/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
html, body {
  background: url(/_img/bg_noise-5.png) right bottom repeat;
  background-color: #242424;
}

#navigation {
  /* 1. Navigation wrapper */
}

#highlighted {
  /* 2. Highlighted (below header) wrapper */
}

#content {
  /* 3. Content wrapper */
  font-family: "Roboto";
  font-size: 16px;
}

#content-below {
  /* 4. Content Below wrapper */
}

#footer {
  /* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
.orange-1 {
  color: #f3732a;
}

.orange-2 {
	color: #f9b96f;
}

.orange-3 {
  color: #a13912;
}

.purple-1 {
  color: #a4454d;
}

.purple-2 {
  color: #77374d;
}

.blue-1 {
  color: #123366;
}

.blue-2 {
  color: #708eb2
}

.gray-1 {
  color: #444;
}

.gray-2 {
  color: #888;
}

.green-1 {
 color: #285f33;
}

.green-2 {
 color: #81994d;
}

/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 1200px) {
  /* Responsive: Large desktop and up (wide) */
  .flexslider-wrapper {
    padding: 15px 15px 0;
  }
  .parchment {
    padding: 40px 70px 20px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* Responsive: Tablet to desktop (normal) */
  .flexslider-wrapper {
    padding: 15px 15px 0;
  }
  .parchment p {
    font-size: .8em;
    line-height: 16px;
  }
  .parchment {
    padding: 52px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* Responsive: Tablet to desktop (normal) */
  .flexslider-wrapper img {
    margin-top: 50px;
  }
  .parchment p {
    font-size: .7em;
    line-height: 14px;
  }
  .parchment {
    padding: 32px;
  }
}
@media (max-width: 767px) {
  /* Responsive: Tablet to desktop (normal) */
  .parchment p {
    font-size: .9em;
  }
  .parchment {
    padding: 5px;
    background-image: none !important;
  }
  .img-responsive {
    max-width: 420px;
  }
}
@media (max-width: 480px) {
  .img-responsive {
    max-width: 100%;
  }
}

/* Navbar collapse */
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
 #note-content textarea {
   background-color: #fffeee;
   font-family: "Source Code Pro", monospace;
   font-size: 14px;
 }
 
.parchment {
  color: #5c4033;
  text-shadow: 0px 1px 0px rgb(255,255,255);
  font-family: Georgia, serif;
  background: url(../img/articles/papyrus.jpg) no-repeat;
  background-size: 100%;
  border-radius: 5px;
  margin: 36px;
}

.article-title {
  font-family: Mondo;
  font-weight: 700;
  text-shadow: -1px -1px 0 #eee;
  margin-top: 5px;
}

.article-section {
	font-variant: small-caps;
  font-family: Mondo;
  font-weight: 700;
  margin-top: 0;
}

.article-swirl {
  background-image: url(../img/articles/swirley_swirl.gif);
  background-position: 545px -10px;
  background-repeat: no-repeat;
  height: 130px;
}

.article-indent {
  text-indent: 40px;
}

.article-swirl h2 {
  font-size: 1.6em;
}	

figcaption {
  text-align: justify;
  font-size: 12px;
  margin: 3px 10px 10px 1px;
}

.pad-top {
  padding-top: 15px;
}

.pad-top-lg {
  padding-top: 30px;
}

.no-pad {
  padding: 0 !important;
  margin: 0 !important;
}

/* Games area */
/*
 * --------------------------------------------------
 * 5. Misc
 * Other stuff
 *--------------------------------------------------
 */
#content .games {
  padding: 10px 0;
}

.games .game-block {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: 1px solid #fafafa;
  border-left: 1px solid #f8f8f8;
  background: #fcfcfc;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 5px 20px 40px 25px;
  box-shadow: 0 4px 3px -3px #aaa;
}

.games .about {
  border: none;
  background: none;
  box-shadow: none;
  padding: 5px 20px 30px 20px;
}

.games .meta {
  font-size: 12px;
  margin-left: 1px;
  margin-bottom: 5px;
}
