html {
  font: 400 16px/1.5 'Average', Times, serif;
  height: 100%;
}

body {
	margin: 0;
  overflow: hidden;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  div.console {
    visibility: hidden;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    opacity: 0;
  }
}

@media screen and (min-width: 1399px) {
	div.console {
    visibility: visible;
    transition: opacity 0.5s linear;
    opacity: 1;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.game {
  float: left;
  width: 800px;
  margin: 20px 0 20px 40px;
}

div.game p {
  margin-bottom: 40px;
}

div.console {
  float: right;
  background: #bc9963;
  height: 1200px;
  width: 320px;
}

.console section {
	margin: 10px;
	color: #ffffcc;
}

.console hr {
  overflow: visible;
  height: 20px;
  border-style: solid;
  border-color: #907432;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.console hr:after {
  display: block;
  content: "";
  height: 20px;
  margin-top: -21px;
  border-style: solid;
  border-color: #907432;
  border-width: 0 0 1px 0;
  border-radius: 10px;
}

.rounded {
  border-radius: 0.5rem !important;
}

section p {
  font: 400 11px/1 'Lucida Console', Monaco, monospace;
  margin: 2px;
}

section.navigation {
  position: absolute;
  margin: 0 0 30px 40px;
  width: 800px;
  bottom: 0;
}

section.figure {
  text-align: center;
  min-width: 300px;
  float: left;
}

section.status {
  padding-left: 50px;
  min-width: 350px;
  float: left;
}

section.status table {
  margin-bottom: 15px;
  width: 350px;
}

nav {
  padding: 10px;
  border: 1px dashed #57461E;
  border-radius: 5px;
}

nav > a {
  text-decoration: none;
  color: #907432;
}

nav > a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #b4c889;
  background-color: #ffffaa;
}

table {
  width: 100%;
  border: 1px dashed #f79862;
  border-radius: 5px;
}

h1, h2, h3 {
  font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;
}

h2 {
  margin-top: 80px;
  font-size: 36px;
}

h3 {
  margin-top: 40px;
  font-size: 24px;
}

h4 {
	text-align: center;
	font-size: 18px;
	font-variant: small-caps;
	color: rgba(110,80,32,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

th {
  text-align: left;
}

td > a {
  text-decoration: none;
  color: #677c33;
}

td > a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #b4c889;
  background-color: #ffffaa;
}

pre {
  font-family: monospace;
  font-size: 13px;
  font-weight: 400;
  width: 920px;
  padding: 20px;
  margin: 20px 0;
  border: 1px dashed gray;
  border-radius: 5px;
  background-color: #b4c889;
}

code {
  font-family: monospace;
  font-size: 15px;
  margin: 0 4px;
}

mark {
  background-color: #ffff99;
  border-radius: 3px;
  padding: 2px 2px 1px;
}

li {
  color: #394406;
  margin: 40px 0 -20px 10px;
}

li > span {
  font-style: italic;
  font-size: smaller;
  color: #7f8286;
}

/* The on/of switch */
.switch {
  width: 38px;
  border-radius: 11px;
}

/* The toggle knob */
.switch::after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}

/* Change color and position when checked */
.switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

/* Drop the opacity of the toggle knob when the input is disabled */
.switch:disabled:not(:checked)::after {
  opacity: .6;
}
