html {
  font: 400 16px/1.5 'Average', Times, serif;
  height: 100%;
}

body {
  overflow:hidden;
  height: 100%;
}

table {
  width: 840px;
  border: 1px dashed lightgray;
  border-radius: 5px;
}

th {
  text-align: left;
}

td > a {
  text-decoration: none;
  color: #677c33;
}

td > a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #b4c889;
  background-color: #ffffaa;
}

section.relative {
  position: relative;
  margin: 50px 40px 0 40px;
}

section.absolute {
  position: absolute;
  bottom: 0;
}

section.console {
  position: absolute;
  background-color: #ffffaa;
  width: 320px;
  right: 0;
}

div.row:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
  font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;
}

h2 {
  margin-top: 80px;
  font-size: 36px;
}

h3 {
  margin-top: 40px;
  font-size: 24px;
}

h4 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

pre {
  font-family: monospace;
  font-size: 13px;
  font-weight: 400;
  width: 920px;
  padding: 20px;
  margin: 20px 0;
  border: 1px dashed gray;
  border-radius: 5px;
  background-color: #b4c889;
}

code {
  font-family: monospace;
  font-size: 15px;
  margin: 0 4px;
  
}

mark {
  background-color: #ffff99;
  border-radius: 3px;
  padding: 2px 2px 1px;
}

ul {
  list-style-image: url('//localhost/favicon.ico');
}

li {
  color: #394406;
  margin: 40px 0 -20px 10px;
}

li > span {
  font-style: italic;
  font-size: smaller;
  color: #7f8286;
}

nav {
  width: 800px;
  padding: 20px;
  margin: 0 0 30px 40px;
  text-align: right;
  background-color: #f0f0f0;
  border: 1px dashed lightgray;
  border-radius: 5px;
}

nav > a {
  text-decoration: none;
  color: gray;
}

nav > a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #b4c889;
  background-color: #ffffaa;
}