/*******************************************************
 *
 * Custom theme code styles
 * Written by Themelize.me (http://themelize.me)
 * 
 *******************************************************/
h1,
h2,
h3 {
  line-height: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(36, 36, 36, 0.6);
}
h3 small {
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
abbr[title],
abbr[data-original-title] {
  /* border-bottom: none; /**/
}
.text-muted {
  color: rgba(36, 36, 36, 0.6);
}
label {
  font-weight: normal;
}
legend {
  line-height: 40px;
}
ul,
ol {
  margin: 0 0 10px 25px;
  padding: 0;
}
.list-unstyled {
  margin-left: 0;
}
.nav-list {
  margin-left: 0;
}
.nav-list li.nav-header {
  color: rgba(36, 36, 36, 0.6);
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-top: 9px;
}
.nav-list li a {
  padding: 3px 15px;
}
.nav-tabs {
  margin-left: 0;
  margin-bottom: 20px;
}
.nav-pills {
  margin-left: 0;
}
.nav-pills li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  color: #377ca8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6082;
  text-decoration: underline;
  outline: none;
}
.btn-warning {
  background-color: #FE9216;
  background-image: linear-gradient(to bottom, #fe9720, #fe8b07);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-default {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e2edee 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e2edee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2edee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe2edee', GradientType=0);
  border-color: #e2edee #e2edee #b2cfd2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e2edee;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled] {
  color: #333333;
  background-color: #e2edee;
  *background-color: #d2e3e5;
  background-image: none;
}
.btn-default:active,
.btn-default.active {
  background-color: #c2d9db \9;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: -o-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: linear-gradient(to bottom, #377ca8 0%, #2a6082 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff377ca8', endColorstr='#ff2a6082', GradientType=0);
  border-color: #2a6082 #2a6082 #183548;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2a6082;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #2a6082;
  *background-color: #24516e;
  background-image: none;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #1e435b \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #fe9720 0%, #fe8b07 100%);
  background-image: -o-linear-gradient(top, #fe9720 0%, #fe8b07 100%);
  background-image: linear-gradient(to bottom, #fe9720 0%, #fe8b07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe9720', endColorstr='#fffe8b07', GradientType=0);
  border-color: #fe8b07 #fe8b07 #b86301;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #fe8b07;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #fe8b07;
  *background-color: #eb7e01;
  background-image: none;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #d17001 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: -o-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: linear-gradient(to bottom, #ee5f5b 0%, #bd362f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
  background-image: none;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background-image: -o-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background-image: linear-gradient(to bottom, #7fbf4d 0%, #63a62f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7fbf4d', endColorstr='#ff63a62f', GradientType=0);
  border-color: #63a62f #63a62f #3f6a1e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #63a62f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #63a62f;
  *background-color: #579229;
  background-image: none;
}
.btn-success:active,
.btn-success.active {
  background-color: #4b7e24 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2f96b4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
  background-image: none;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #242424 0%, #575757 100%);
  background-image: -o-linear-gradient(top, #242424 0%, #575757 100%);
  background-image: linear-gradient(to bottom, #242424 0%, #575757 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff242424', endColorstr='#ff575757', GradientType=0);
  border-color: #575757 #575757 #313131;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #575757;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #575757;
  *background-color: #4a4a4a;
  background-image: none;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #3e3e3e \9;
}
.btn-xs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.5px;
  padding: 3px 6px;
}
.btn-lg {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #EEE;
}
dd {
  margin-left: 10px;
}
.popover {
  white-space: nowrap;
}
.badge-important,
.label-important {
  background-color: #d9534f;
}
.badge-important[href],
.label-important[href] {
  background-color: #c9302c;
}
.badge-warning,
.label-warning {
  background-color: #f0ad4e;
}
.badge-warning[href],
.label-warning[href] {
  background-color: #ec971f;
}
.badge-success,
.label-success {
  background-color: #5cb85c;
}
.badge-success[href],
.label-success[href] {
  background-color: #449d44;
}
.badge-info,
.label-info {
  background-color: #5bc0de;
}
.badge-info[href],
.label-info[href] {
  background-color: #31b0d5;
}
.badge-inverse,
.label-inverse {
  background-color: #242424;
}
.badge-inverse[href],
.label-inverse[href] {
  background-color: #0a0a0a;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.thumbnails {
  list-style: none;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
  line-height: 0;
}
.thumbnails:after {
  clear: both;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  margin-bottom: 20px;
}
.thumbnails > li.left {
  float: left;
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #377ca8;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #242424;
}
/* Navbar collapse */
.navbar-collapse {
  margin: 10px -30px 0 -30px !important;
}
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-left: 0;
    padding-right: 0;
    max-height: 800px !important;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    margin: 0 !important;
  }
}
html {
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e0e0e0 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0e0e0', endColorstr='#ffffffff', GradientType=0);
}
body {
  margin: 0;
  font-family: "Monda", Arial, serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  position: relative;
}
.page-title {
  margin: 0;
}
.page-title small {
  color: rgba(51, 51, 51, 0.5);
}
.inner {
  background: url(/img/bg_noise-5.png) left top repeat;
}
/* --------------------------------------------------
 * Zones & Regions
 *-------------------------------------------------- */
#navigation:before,
#navigation:after {
  content: " ";
  display: table;
}
#navigation:after {
  clear: both;
}
#navigation .navbar {
  color: #ffffff;
  margin: 0;
}
#navigation .navbar-inner {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}
#navigation .navbar-inner .inner {
  min-height: 80px;
}
#navigation .navbar-inner .container {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  #navigation .navbar-inner .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#navigation .navbar-brand {
  text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.2);
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 10px 0;
  display: block;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  line-height: 1;
}
#navigation .navbar-brand img {
  padding-right: 1em;
}
#navigation .navbar-brand h1 {
  font-size: 41px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #ffffff;
}
#navigation .navbar-brand span {
  font-size: 10px;
  font-weight: normal;
  color: #ffffff;
}
#navigation .navbar-brand:hover {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}
#navigation .btn-navbar {
  margin: 10px 0;
  font-size: 0.8em;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #377ca8;
}
#navigation .btn-navbar [class^="icon-"],
#navigation .btn-navbar [class^="icon-"],
#navigation .btn-navbar [class*=" icon-"],
#navigation .btn-navbar [class*=" icon-"] {
  vertical-align: inherit;
  margin-top: 2px;
  padding-top: 1px;
  margin-bottom: 2px;
  padding-bottom: 1px;
  line-height: .9em;
}
#highlighted {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-bottom: 1px solid #e1e1e1;
  background: #f2f2f2 url(/img/bg_noise-5.png) left top repeat;
  color: #377ca8;
  text-shadow: 1px 1px 1px #ffffff;
}
#highlighted .inner {
  padding: 30px 0;
}
.page-index #highlighted {
  background-image: -webkit-radial-gradient(circle, #ffffff, #e6e6e6);
  background-image: radial-gradient(circle, #ffffff, #e6e6e6);
  background-repeat: no-repeat;
}
.has-navbar-fixed-top #content {
  margin-top: 82px;
}
.has-navbar-fixed-top.has-highlighted #highlighted,
.has-navbar-fixed-top.page-index #highlighted,
.has-navbar-fixed-top.page-index-carousel #highlighted,
.has-navbar-fixed-top.page-starter #highlighted {
  margin-top: 80px;
}
.has-navbar-fixed-top.has-highlighted #content,
.has-navbar-fixed-top.page-index #content,
.has-navbar-fixed-top.page-index-carousel #content,
.has-navbar-fixed-top.page-starter #content {
  margin-top: 0;
}
#content {
  padding: 40px 0;
  background-color: #ffffff;
}
#content-below {
  padding: 20px 0;
  background-color: #ffffff;
}
#footer {
  background: #242424;
  background-image: -webkit-linear-gradient(top, #313131 0%, #242424 100%);
  background-image: -o-linear-gradient(top, #313131 0%, #242424 100%);
  background-image: linear-gradient(to bottom, #313131 0%, #242424 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff313131', endColorstr='#ff242424', GradientType=0);
  min-height: 300px;
  color: #CFCFCF;
  border-top: 2px solid #377ca8;
}
#footer .inner {
  padding: 30px 0;
  background: url(/img/bg_noise-5.png) left top repeat;
}
#footer .visible-lg {
  display: inline-block !important;
}
#footer h3 {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}
#footer a {
  color: #CFCFCF;
}
#footer .social-media a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 0.4em;
  line-height: 30px;
}
#footer .social-media a i {
  font-size: 24px;
  background: #CFCFCF;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 0.2em;
  display: inline-block;
}
#footer .social-media a:hover {
  text-decoration: none;
  color: #ffffff;
}
#footer .social-media a:hover i {
  background: #ffffff;
}
#footer .social-media a.last {
  padding-bottom: 0;
  border-bottom: 0;
}
#footer .contact-block p {
  margin-bottom: 0.5em;
}
#footer .subfooter {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 1em;
  padding-top: 1em;
}
/* --------------------------------------------------
 * Main Menu (mobile first)
 *-------------------------------------------------- */
ul#main-menu {
  margin: 0;
  padding: 0;
}
ul#main-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 !important;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(42, 96, 130, 0.2);
}
ul#main-menu li:first-child {
  border-top: none;
}
ul#main-menu li:last-child {
  border-bottom: none;
}
ul#main-menu li a,
ul#main-menu li a:link {
  text-shadow: none;
  display: block;
  font-weight: normal;
  padding: 10px 1em;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: #d5e2ea;
}
ul#main-menu li a .caret,
ul#main-menu li a:link .caret {
  margin-top: 25px;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}
ul#main-menu li a:hover,
ul#main-menu li a.active,
ul#main-menu li.over > a,
ul#main-menu li.active > a,
ul#main-menu li.active > a:hover,
ul#main-menu li.active > a:focus {
  background: rgba(42, 96, 130, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul#main-menu li.dropdown .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
ul#main-menu li.dropdown.open a.dropdown-toggle {
  color: #ffffff;
  background-color: #2a6082;
}
ul#main-menu .dropdown-menu {
  margin: 0;
  padding: 0;
  position: static;
  float: none;
  background-color: #2d6589;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
ul#main-menu .dropdown-menu li {
  float: none;
  border: none;
}
ul#main-menu .dropdown-menu li a,
ul#main-menu .dropdown-menu li a:link {
  padding: 6px 1em;
  font-size: smaller;
  border: 0;
  margin: 0;
  min-height: 10px;
  line-height: normal;
}
/* Desktop menu */
@media (min-width: 1000px) {
  ul#main-menu {
    margin: 20px 0 0 0;
    float: right;
  }
  ul#main-menu .dropdown-menu {
    margin: 0;
    padding: 10px;
    position: absolute;
    background-color: #2a6082;
    min-width: 220px;
  }
  ul#main-menu .dropdown-menu li a,
  ul#main-menu .dropdown-menu li a:link {
    padding: 0.5em;
  }
  ul#main-menu .dropdown-menu li a:hover,
  ul#main-menu .dropdown-menu li a.active,
  ul#main-menu .dropdown-menu li.active > a,
  ul#main-menu .dropdown-menu li.active > a:hover,
  ul#main-menu .dropdown-menu li.active > a:focus {
    background-color: #2f6b91 !important;
  }
  ul#main-menu li {
    list-style: none;
    margin: 0;
    padding: 0 0.5em;
    float: left;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.06);
    border-right: 1px solid rgba(42, 96, 130, 0.4);
  }
  ul#main-menu li:first-child {
    border-left: none;
  }
  ul#main-menu li:last-child {
    border-right: none;
  }
  ul#main-menu li a,
  ul#main-menu li a:link {
    text-shadow: none;
    display: block;
    font-weight: normal;
    padding: 10px 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    text-transform: uppercase;
    border: 1px solid transparent;
  }
  ul#main-menu li a .caret,
  ul#main-menu li a:link .caret {
    margin-top: 25px;
    border-top-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
  }
  ul#main-menu li a:hover,
  ul#main-menu li a.active,
  ul#main-menu li.over > a,
  ul#main-menu li.active > a,
  ul#main-menu li.active > a:hover,
  ul#main-menu li.active > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  ul#main-menu li.dropdown .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
  ul#main-menu li.dropdown.open a.dropdown-toggle {
    color: #ffffff;
    background: rgba(42, 96, 130, 0.3);
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  ul#main-menu li.dropdown.open > ul.dropdown-menu {
    right: 8px;
    -webkit-border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
  }
  ul#main-menu li.dropdown.open > ul.dropdown-menu a {
    border-bottom: 1px solid #2a6082;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
/* --------------------------------------------------
 * Page specific
 *-------------------------------------------------- */
.colour-switcher.tool {
  position: fixed;
  right: 2%;
  top: auto;
  bottom: 0;
  padding: 5px;
  text-align: center;
  background: #2a6082;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  z-index: 1032;
}
.colour-switcher.tool:before,
.colour-switcher.tool:after {
  content: " ";
  display: table;
}
.colour-switcher.tool:after {
  clear: both;
}
.colour-switcher.tool a {
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  text-indent: -100000px;
}
.colour-switcher.page:before,
.colour-switcher.page:after {
  content: " ";
  display: table;
}
.colour-switcher.page:after {
  clear: both;
}
.colour-switcher.page a {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.colour-switcher.page a:hover,
.colour-switcher.page a.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.colour-switcher a {
  display: block;
  border: 1px solid transparent;
  margin: 8px 0;
}
.colour-switcher a.active {
  border: 1px solid #ffffff;
}
.colour-switcher a span {
  display: block;
  padding: 2px 0;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
}
.colour-switcher a.default span {
  padding: 12px 0;
  font-size: 12px;
}
.colour-switcher .blue {
  background: #377ca8;
}
.colour-switcher .red {
  background: #980000;
}
.colour-switcher .green {
  background: #81994d;
}
.colour-switcher .grey {
  background: #515257;
}
.colour-switcher .purple {
  background: #7f0046;
}
a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-color: #3d8abb;
}
.img-polaroid {
  padding: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.clients a {
  display: block;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.clients a img {
  margin: auto;
  text-align: center;
}
.clients a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.clients .thumbnails {
  margin-bottom: 0;
}
.block .block-title {
  margin: 0 0 1em 0;
  font-size: 20px;
  border-bottom: 1px solid #e1e1e1;
  border-bottom: 1px solid rgba(55, 124, 168, 0.3);
}
.block .block-title.sub-title {
  font-size: 16px;
}
.block .block-title.sub-title span {
  padding-bottom: 8px;
}
.block .block-title span {
  border-bottom: 3px solid #3d8abb;
  padding-bottom: 4px;
}
.block .block-title span.label {
  border-bottom: 0;
  padding-bottom: 2px;
  text-transform: none;
}
.block .block-title span.label.pull-right {
  margin-top: 10px;
}
.block .block-title small {
  font-size: 14px;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 1px solid #e1e1e1;
  border-left: 1px solid rgba(55, 124, 168, 0.3);
  text-transform: none;
}
.block .title {
  line-height: 1;
  margin: 1em 0 0.5em 0;
  color: #377ca8;
  font-size: 16px;
}
.header {
  margin-bottom: 0;
  /* @media-query */
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header .page-title {
  font-size: 26px;
  margin: 8px 0 8px 0;
  color: rgba(55, 124, 168, 0.9);
}
.header .page-title small {
  font-size: 12.5px;
  color: rgba(55, 124, 168, 0.6);
}
.header .page-title span,
.header .page-title small {
  display: block;
  line-height: 1.2 !important;
}
.header .back-link {
  margin: 5px 0 10px 0;
}
.header .nav-pills {
  border: none;
  margin: 5px 0 10px 0;
}
.header .nav-pills li a {
  padding: 4px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 20px;
  width: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-shadow: none;
  border: 1px solid #E1E1E1;
}
.header .nav-pills li a:hover {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.7);
}
.header .nav-pills li.active > a {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  color: #242424;
  border: 1px solid #cccccc;
}
@media (min-width: 768px) {
  .header {
    /* Small devices (tablets, 768px and up) */
  }
  .header .page-title {
    float: left;
  }
  .header .nav-pills,
  .header .back-link {
    float: right;
    margin-top: 15px;
  }
}
.sidebar {
  /* @media-query */
}
.sidebar .block {
  margin-bottom: 2em;
}
.sidebar .well {
  padding: 1em;
  background: rgba(55, 124, 168, 0.1);
}
@media (min-width: 992px) {
  .sidebar.sidebar-right .inner {
    padding: 0 20px 20px 20px;
    border-left: 1px dotted rgba(55, 124, 168, 0.2);
  }
  .sidebar.sidebar-left .block {
    padding-right: 20px;
    border-right: 1px dotted rgba(55, 124, 168, 0.2);
  }
}
.mdrs .btn-block,
.mdrs .btn {
  padding: 1em 1em;
  font-size: 1.2em;
}
.intro p {
  margin-bottom: 0;
}
ul.inline > li:first-child {
  padding-left: 0;
}
.no-maxwidth {
  max-width: none;
}
/* --------------------------------------------------
 * Homepage
 *-------------------------------------------------- */
.flexslider-wrapper,
.static-banner {
  overflow: hidden;
}
.flexslider-wrapper .caption,
.static-banner .caption {
  padding-top: 5%;
  padding-bottom: 5%;
}
.flexslider-wrapper .caption.caption-nopadding,
.static-banner .caption.caption-nopadding {
  padding: 0;
}
.flexslider-wrapper .caption h1,
.static-banner .caption h1,
.flexslider-wrapper .caption h2,
.static-banner .caption h2,
.flexslider-wrapper .caption h3,
.static-banner .caption h3,
.flexslider-wrapper .caption h4,
.static-banner .caption h4,
.flexslider-wrapper .caption h5,
.static-banner .caption h5,
.flexslider-wrapper .caption p,
.static-banner .caption p {
  margin-top: 0;
  font-weight: normal;
}
.flexslider-wrapper .caption .btn,
.static-banner .caption .btn {
  margin: 0;
}
.flexslider-wrapper .caption .inverse,
.static-banner .caption .inverse {
  background: #242424;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.flexslider-wrapper .caption .inverse a,
.static-banner .caption .inverse a {
  color: rgba(255, 255, 255, 0.9);
}
.flexslider-wrapper div.underlay-img,
.static-banner div.underlay-img {
  position: relative;
}
.flexslider-wrapper div.underlay-img img.underlay-img,
.static-banner div.underlay-img img.underlay-img {
  position: absolute;
  top: 0;
}
.flexslider-wrapper div.underlay-img .caption,
.static-banner div.underlay-img .caption {
  z-index: 100001;
  position: absolute;
}
.flexslider-wrapper .flexslider,
.static-banner .flexslider {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.flexslider-wrapper .flexslider img.no-maxwidth,
.static-banner .flexslider img.no-maxwidth {
  width: auto;
  max-width: none;
  display: inline-block;
}
.flexslider-wrapper .flex-direction-nav a,
.static-banner .flex-direction-nav a {
  text-indent: 0;
  font-size: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 40px;
  line-height: 40px;
  width: 40px;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.flexslider-wrapper .flex-direction-nav a:before,
.static-banner .flex-direction-nav a:before {
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 22px;
}
.flexslider-wrapper .flex-direction-nav a.flex-prev:before,
.static-banner .flex-direction-nav a.flex-prev:before {
  content: '\f053';
}
.flexslider-wrapper .flex-direction-nav a:hover,
.static-banner .flex-direction-nav a:hover {
  text-decoration: none;
}
.flexslider-wrapper .flex-control-nav,
.static-banner .flex-control-nav {
  bottom: 0;
  right: 5px;
  width: auto;
}
.flexslider-wrapper .flex-control-nav li,
.static-banner .flex-control-nav li {
  margin: 0 3px;
}
.flexslider-wrapper .flex-control-nav li a,
.static-banner .flex-control-nav li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 14px;
  width: 14px;
}
.carousel#carousel-front {
  margin: 0;
  height: 300px;
}
.carousel#carousel-front .item img {
  max-height: 320px;
}
.carousel#carousel-front .item h1,
.carousel#carousel-front .item h2,
.carousel#carousel-front .item h3,
.carousel#carousel-front .item h4,
.carousel#carousel-front .item h5 {
  font-weight: bold;
  color: #377ca8;
}
.mission {
  margin-top: -30px;
  margin-bottom: 90px;
}
.mission .inner {
  text-align: left;
  border-bottom: 1px solid rgba(55, 124, 168, 0.3);
  text-align: center;
  padding: 15px;
}
.mission .inner span {
  color: #3a82b0;
}
.services .row,
.portfolio .row {
  margin-bottom: 1em;
}
/* --------------------------------------------------
 * Services
 *-------------------------------------------------- */
/* --------------------------------------------------
 * Portfolio
*-------------------------------------------------- */
.projects li .project {
  border-bottom: 4px solid #3d8abb;
  padding-bottom: 1em;
}
.projects li .project:hover {
  border-bottom: 4px solid #2a6082;
}
.projects li .project a:hover img {
  border-color: #3d8abb;
}
.page-portfolio #highlighted .container,
.page-portfolio2 #highlighted .container,
.page-portfolio4 #highlighted .container {
  padding-bottom: 0;
}
.carousel#carousel-project {
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 2px;
}
.carousel#carousel-project .carousel-control {
  left: 10px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel#carousel-project .carousel-control.right {
  right: 10px;
  left: auto;
}
.carousel#carousel-project:hover .carousel-control {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/* --------------------------------------------------
 * About
 *-------------------------------------------------- */
.team li {
  text-align: center;
}
.team li h4 {
  display: inline-block;
}
.team li a {
  display: block;
  text-align: center;
}
.team li a img {
  display: block;
  margin: auto;
}
.team li.active {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.team-member h3 {
  margin-top: 0;
}
.team-member .social-media a {
  color: #ffffff;
  line-height: 30px;
}
.team-member .social-media a i {
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
}
.team-member .social-media a:hover {
  text-decoration: none;
}
.team-member .social-media a:hover i {
  background-color: #377ca8;
}
/* --------------------------------------------------
 * Blog
 *-------------------------------------------------- */
.blog-list .title,
.blog-post .title {
  margin: 0 0 5px 0;
  line-height: 1;
}
.blog-list .meta,
.blog-post .meta {
  font-size: 12px;
  margin-bottom: 5px;
}
.blog-list .media,
.blog-post .media {
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
.blog-list .media .media-body,
.blog-post .media .media-body {
  margin-top: 0.5em;
}
.blog-list.blog-list-short .media,
.blog-post.blog-list-short .media {
  padding-bottom: 0;
  border-bottom: 0;
}
.blog-list.blog-list-short .media:first-child,
.blog-post.blog-list-short .media:first-child {
  margin-top: 0;
}
.blog-list.blog-list-short .title,
.blog-post.blog-list-short .title {
  font-size: 16px;
  font-weight: normal;
}
.blog-list.blog-list-short .meta,
.blog-post.blog-list-short .meta {
  margin-bottom: 2px;
  font-size: 10px;
}
.blog-post .media-body {
  margin-top: 1em;
}
.blog-post .media-body .lead {
  margin: 1em 0;
  padding: 1em 0.5em;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  background: #f0f0f0;
}
.blog-post .comments .media-body {
  margin-top: 0;
}
.blog-post .comments .media-body .meta {
  margin: 0;
}
.blog-post .comments .media-body .meta li:first-child {
  padding-left: 0;
}
#comment-form .radio input[type=radio],
#comment-form .radio-inline input[type=radio],
#comment-form .checkbox input[type=checkbox],
#comment-form .checkbox-inline input[type=checkbox] {
  position: relative;
  margin: 0;
}
/* --------------------------------------------------
 * Contact
 *-------------------------------------------------- */
#contact-form {
  margin-bottom: 2em;
  /* @media-query */
}
@media (min-width: 992px) {
  #contact-form {
    padding-right: 2em;
  }
}
/* --------------------------------------------------
 * Misc.
 *-------------------------------------------------- */
.demos .title-divider {
  margin-top: 2em;
}
.demos .demo-block {
  background: #eeeeee;
  min-height: 300px;
  padding: 10px 15px;
}
/* Utilities */
.primary-colour {
  color: #377ca8;
}
.primary-colour-bg {
  background-color: #377ca8;
}
.primary-colour-bg-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
}
.primary-colour-bg-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
}
.more-link:hover {
  border-bottom: 3px solid #377ca8;
  text-decoration: none;
}
.pull-center {
  text-align: center;
}
.space-reset {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.margin-top-small {
  margin-top: 0.5em;
}
.margin-top-medium {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 2em;
}
.bordered-top-small {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-medium {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-large {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.margin-bottom-small {
  margin-bottom: 0.5em;
}
.margin-bottom-medium {
  margin-bottom: 1em;
}
.margin-bottom-large {
  margin-bottom: 2em;
}
.bordered-bottom-small {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-medium {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-large {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
ul.big-list {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
ul.big-list li {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  border-color: rgba(204, 204, 204, 0.6);
}
ul.big-list li:hover {
  background: #ededed;
}
.sidebar ul.big-list {
  font-size: 1em;
}
._icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
._icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
._icon-medium {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
._icon-large {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}
._icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
._icon-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  padding-right: 0;
  margin-right: 0.2em;
}
._icon-circle-double {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 3px solid #e7f1f7;
  box-shadow: 0 0 0 2px #377ca8;
  padding-right: 0;
  margin-right: 0.2em;
}
._icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
._icon-inverse {
  background-color: #377ca8;
  color: #ffffff;
  text-align: center;
}
._icon-inverse-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
  color: #ffffff;
  text-align: center;
}
._icon-inverse-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
  color: #ffffff;
  text-align: center;
}
._icon-success {
  background: #7fbf4d;
}
body .icon-mini,
li .icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
body .icon-small,
li .icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
body .icon-medium,
li .icon-medium {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
body .icon-large,
li .icon-large {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}
body .icon-xlarge,
li .icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
body .icon-rounded,
li .icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body .icon-inverse,
li .icon-inverse {
  background-color: #377ca8;
  color: #ffffff;
  text-align: center;
}
body .icon-inverse-50,
li .icon-inverse-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
  color: #ffffff;
  text-align: center;
}
body .icon-inverse-80,
li .icon-inverse-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
  color: #ffffff;
  text-align: center;
}
body .icon-success,
li .icon-success {
  background: #7fbf4d;
}
body .icon-mini,
li .icon-mini,
body .icon-small,
li .icon-small,
body .icon-medium,
li .icon-medium,
body .icon-large,
li .icon-large,
body .icon-xlarge,
li .icon-xlarge,
body ._icon-circle,
li ._icon-circle,
body ._icon-circle-double,
li ._icon-circle-double,
body .icon-rounded,
li .icon-rounded {
  display: inline-block;
}
body .icon-mini:before,
li .icon-mini:before,
body .icon-small:before,
li .icon-small:before,
body .icon-medium:before,
li .icon-medium:before,
body .icon-large:before,
li .icon-large:before,
body .icon-xlarge:before,
li .icon-xlarge:before,
body ._icon-circle:before,
li ._icon-circle:before,
body ._icon-circle-double:before,
li ._icon-circle-double:before,
body .icon-rounded:before,
li .icon-rounded:before,
body .icon-inverse:before,
li .icon-inverse:before,
body .icon-inverse-50:before,
li .icon-inverse-50:before,
body .icon-inverse-80:before,
li .icon-inverse-80:before,
body .icon-success:before,
li .icon-success:before {
  width: auto;
  font-size: inherit;
}
a:hover .icon-inverse,
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  text-decoration: none;
}
a:hover .icon-inverse {
  background: #74add1;
}
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  background: #377ca8;
}
.secondary-nav {
  margin: 0;
  padding: 0;
}
.secondary-nav li a {
  margin: 0 0 1px 0;
  padding: 8px 0.5em;
  background: rgba(55, 124, 168, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(55, 124, 168, 0.1);
}
.secondary-nav li a i {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.secondary-nav li a:hover {
  background: rgba(55, 124, 168, 0.1);
}
.secondary-nav li a:hover i {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.secondary-nav li.active a {
  background: #377ca8;
}
.secondary-nav li ul {
  margin: 0 0 1px 0;
  padding: 8px 1em;
  border: 1px solid rgba(55, 124, 168, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(55, 124, 168, 0.1);
}
.popover-title {
  font-size: 16px;
  font-weight: bold;
}
.popover-content {
  font-size: 12px;
  font-weight: normal;
}
.panel-primary .panel {
  margin-bottom: 1px;
  border: 1px solid rgba(55, 124, 168, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(55, 124, 168, 0.05);
}
.panel-primary .panel .panel-heading {
  background: none;
}
.panel-primary .panel .panel-heading a {
  display: block;
}
.panel-primary .panel:hover {
  background: rgba(55, 124, 168, 0.1);
}
.panel-primary .panel-inner {
  border-top: 1px solid rgba(55, 124, 168, 0.2);
}
.panel-group .panel + .panel {
  margin-top: 1px;
}
.background-clip-fix {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.carousel {
  margin: 0;
}
.carousel .item .carousel-caption {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: #242424;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.carousel .item .carousel-caption h4,
.carousel .item .carousel-caption p {
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 0;
  text-align: left;
}
.carousel .item .carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel .item .carousel-caption.top-right {
  top: 5%;
  right: 5%;
  left: auto;
  bottom: auto;
}
.carousel .item img {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.carousel .carousel-control {
  height: 40px;
  width: 40px;
  line-height: 30px;
  font-size: 25px;
  left: 30px;
  top: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #242424;
}
.carousel .carousel-control.right {
  left: auto;
  right: 30px;
}
.carousel .carousel-control.carousel-control-mini {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 15px;
}
.carousel .carousel-control.carousel-control-large {
  height: 60px;
  width: 60px;
  line-height: 50px;
  font-size: 35px;
}
.carousel .carousel-control.carousel-control-large {
  height: 80px;
  width: 80px;
  line-height: 70px;
  font-size: 45px;
}
.carousel .carousel-control.carousel-control-xlarge {
  height: 100px;
  width: 100px;
  line-height: 80px;
  font-size: 55px;
}
.carousel .carousel-control.carousel-control-rounded {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.carousel .carousel-control.carousel-control-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.carousel:hover .carousel-caption {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel:hover .carousel-control {
  opacity: 0.6;
  filter: alpha(opacity=60);
  left: 5px;
}
.carousel:hover .carousel-control.right {
  right: 5px;
  left: auto;
}
.carousel.carousel-slideshow {
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 5px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.carousel.carousel-slideshow .carousel-control {
  left: 10px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel.carousel-slideshow .carousel-control.right {
  right: 10px;
  left: auto;
}
.carousel.carousel-slideshow:hover .carousel-control {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
