/* javaj additions */
.area-shadow {
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.475);
  background-color: rgba(0, 0, 0, 0.405);
}
.text-shadow {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}
.whiteout {
  font-size: 1px;
  line-height: 1px;
}
.docs-content > hr {
  border-top: 1px solid #F5F8FA;
}
.docs-content > h1 {
  margin: 50px 0 20px;
}

.catartic-nav {
  background: url("../img/rx_catartic.png") right 20px top 20px;
  background-color: #006830 !important;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
html:not([data-scroll='0']) .catartic-nav {
  background: none;
}
.catartic-container {
  background-image: url("../img/rx_catartic.png");
  background-position: right 20px top -30px;
  background-repeat: no-repeat;
}
.catartic-header {
  background:
    url("../img/rx_catartic.png") right 20px top -30px,
    linear-gradient(to bottom, #31AF6B, #000000);
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.catartic-header p {
  color: #C2F38D;
}

.progressus-nav {
  background-color: #066396 !important;
}
.progressus-container {
  background-image: url("../img/progressus_bak.png");
  background-position: right -10px top -50px;
  background-repeat: no-repeat;
}
.progressus-header {
  background:
    url("../img/progressus_bak.png") right -10px top -50px,
    linear-gradient(to bottom, #0B85C6, #000000);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.progressus-image {
  height: 100px;
  margin-top: -50px;
  margin-bottom: 15px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn {
  border: 2px solid #3097D1;
  color: #3097D1;
  background-color: white;
  padding: 6px 10px;
  border-radius: 8px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
.nav-link {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
